.cards {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 21px 18px;
    gap: 21px 18px;
    justify-items: center;
}

.cards__item {
  max-width: 282px;
  min-height: 120px;
  width: 100%;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.cards__title {
    color: #fff;
    text-align: center;
}